TeX/templates/*.tex
TeX/inputs/*.tex
TeX/pdfs/*
TeX/csv/*
TeX/dat/*
!.keep
TeX/Full-Report/mpi-survey-full.aux
TeX/Full-Report/mpi-survey-full.bbl
TeX/Full-Report/mpi-survey-full.blg
TeX/Full-Report/mpi-survey-full.log
TeX/Full-Report/mpi-survey-full.pdf

.idea/
TeX/SC19/sc19-interim.aux
TeX/SC19/sc19-interim.bbl
TeX/SC19/sc19-interim.blg
TeX/SC19/sc19-interim.log
TeX/SC19/sc19-interim.out
TeX/SC19/sc19-interim.pdf
