
\subsection{Answers}
\input{../inputs/QX-ans}

\subsection{List of other answers}
\begin{itemize}
\input{../inputs/QX-other}
\end{itemize}

\begin{figure}[htb]
\begin{center}
\includegraphics[width=10cm]{../pdfs/QX.pdf}
\caption{Simple analysis: QX}
\label{fig:QX}
\end{center}
\end{figure}
