
\subsection{Answers}
\input{../inputs/QX-ans}

\begin{figure}[htb]
\begin{center}
\includegraphics[width=8cm,angle=90]{../figs/QX.pdf}
\caption{Simple analysis: QX}
\label{fig:QX}
\end{center}
\end{figure}
